{% extends 'potlucks/base.html' %}
{% load static breadcrumbs %}
{% block title %} {{ category.name }} {% endblock title %}

{% block navigation %}
    <li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
    <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
    <li><a href="{% url 'potlucks:products' %}">Products</a></li>
    <li  class="active"><a href="{% url 'potlucks:categories' %}">Categories</a></li>
{% endblock navigation %}

{% block breadcrumbs %}

  {% url 'potlucks:home_page' as home_page %}
  {% breadcrumb_home home_page 'Home' %}

  {% url 'potlucks:categories' as categories %}
  {% breadcrumb_active categories 'Categories' 2 %}

  {% ancestors_and_category category as categories %}
  {% for category in categories %}
    {% url 'potlucks:category_detail' category.url as category_detail %}
    {% breadcrumb_item category_detail category.name forloop.counter|add:"2" %}
  {% endfor %}

{% endblock breadcrumbs %}

{% block content %}

<!-- /SECTION --><!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			{% include 'retail/categories/categories_filter.html' %}
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Sort By:
							<select class="input-select">
								<option value="0">Popular</option>
								<option value="1">Position</option>
							</select>
						</label>

						<label>
							Show:
							<select class="input-select">
								<option value="0">20</option>
								<option value="1">50</option>
							</select>
						</label>
					</div>
					<ul class="store-grid">
						<li class="active"><i class="fa fa-th"></i></li>
						<li><a href="#"><i class="fa fa-th-list"></i></a></li>
					</ul>
				</div>
				<!-- /store top filter -->

					<!-- product -->

					{% for product in product_list %}
					<div class="col-md-4 col-xs-6">
						{% include 'retail/include/product_card.html' %}
					</div>
					{% endfor %}

				</div>
				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<span class="store-qty">Showing 20-100 products</span>
					<ul class="store-pagination">
						<li class="active">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /container -->
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/wishlist.js' %}"></script>
{% endblock javascript %}