{% extends 'account/authorization_base.html' %}
{% block title %} Авторизация {% endblock title %}

{% block form %}
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="email">
        <label for="email">Элетронная почта</label>
        <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" title required name="login" id="id_login"/>

        </div>
    </div>
    <div class="password">
        <label for="password">Пароль</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input class="pas" type="password" name="password" title required  id="id_password"/>
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>

        </div>
    </div>


    {{ form.non_field_errors }}
    <button class="login" type="submit">Войти </button>

</form>
<span class="error-message">{{ error_messages }}</span>
<div class="footer"><span><a href="{% url 'account_signup' %}">Зарегистрироваться</a></span><span>
    <a href="{% url 'account_reset_password' %}">Забыли пароль?</a></span></div>
{% endblock form %}


