{% extends "account/authorization_base.html" %}


{% block title %} Восставновление пароля {% endblock %}

{% block form %}
    <h3>Восставновление пароля</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Мы отправили вам e-mail. Пожалуйста, свяжитесь с нами, если письмо не было получено.</p>
    <div class="footer"><span><a href="{% url 'account_signup' %}">Зарегистрироваться</a></span><span>
    <a style="padding-left:4em;" href="{% url 'account_login' %}">Войти</a></span></div>
{% endblock %}
