{% extends "account/authorization_base.html" %}
{% load breadcrumbs %}



{% block title %} Восстановление пароля {% endblock %}

{% block form %}
    <div class="head">
    <h3>Восстановление пароля</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите e-mail, указанный при регистрации,
    и мы вышлем письмо для восстановления доступа.</p>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="email" id="em">
        <label for="email">Элетронная почта</label>
        <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" title required name="email" id="id_email"/>
        </div>
    </div>
        <button class="login" id="submit" type="submit">Отправить</button>
    </form>
    <div class="footer"><span><a href="{% url 'account_signup' %}">Зарегистрироваться</a></span><span>
    <a style="padding-left:4em;" href="{% url 'account_login' %}">Войти</a></span></div>


{% endblock %}
{% block javascript %}
<script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#id_email').change(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаяем данные формы
                  url: "{% url 'ajax:validate_email' %}",
                  // если успешно, то
                  success: function (response) {
                      if (response.exists == false) {
                          $('#emailError').remove();
                          $('#em').after('<div style="padding-left:1em; font-size: 0.8em; margin-bottom: 0.1em; color:#D10024;" id="emailError">Пользователь с таким адресом не зарегистрирован.</div>')
                          $('#em').css({"margin-bottom": "1em"})
                      }
                      else {

                          $('#emailError').remove();
                          $('#em').css({"margin-bottom": "2em"})
                      }
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>

{% endblock javascript %}