{% extends 'account/authorization_base.html' %}
{% block title %} Регистрация {% endblock title %}

{% block form %}
<div id="sign-up-form">
<form method="post" action="{% url 'account_signup' %}" id="signup_form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="email" id="em">
        <label for="email">Элетронная почта</label>
        <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" title required name="email" id="id_email"/>
        </div>
    </div>
    <div class="password" id="pasw">
        <label for="password1">Пароль</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" title required name="password1"  id="id_password1"/>
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="password">
        <label for="password2">Повторите пароль</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input class="pas" type="password" name="password2" title required  id="id_password2"/>
            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
    </div>
    <button class="login" type="submit">Зарегистрироваться</button>
</form>
<div class="footer"><span><a href="{% url 'account_login' %}">Войти</a></span><span><a href="">Забыли пароль?</a></span></div>
</div>
{% endblock form %}

{% block javascript %}
<script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#id_email').keyup(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаяем данные формы
                  url: "{% url 'ajax:validate_email' %}",
                  // если успешно, то
                  success: function (response) {
                      if (response.is_taken == true) {

                          $('#em').after('<div style="padding-left:1em; font-size: 0.85em; color:#D10024;" id="emailError">Пользователь с таким email уже существует</div>')
                          $('#em').css({"margin-bottom": "0.55em"})
                      }
                      else {

                          $('#emailError').remove();
                          $('#em').css({"margin-bottom": "1.5em"})
                      }
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })
  </script>

{% endblock javascript %}