{% extends 'potlucks/base.html' %}
{% block title %}  КАТЕГОРИИ  {% endblock title %}
{% load static %}
{% load breadcrumbs %}

{% block navigation %}
    <li><a href="{% url 'goods:home_page' %}">Главная</a></li>
    <li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
    <li><a href="{% url 'goods:products' %}">Товары</a></li>
    <li  class="active"><a href="{% url 'goods:categories' %}">Категории</a></li>
{% endblock navigation %}

{% block breadcrumbs %}


  {% url 'goods:home_page' as home_page %}
  {% breadcrumb_home home_page 'Главная' %}

  {% url 'goods:categories' as categories %}
  {% breadcrumb_active categories 'Категории' 2 %}

{% endblock breadcrumbs %}
{% block content %}
<!-- /NAVIGATION -->

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      {% for category in categories %}
      <div class="col-lg-4 col-xs-6">
        <div class="shop">
          {% if category.image %}
          <div class="shop-img">
            <img src="{{ category.image.url }}" class='img-responsive' alt="">
          </div>
          {% endif %}
          <div class="shop-body">
            <h3><a style="color:white;font-weight: 700;" href="{% url 'goods:category_detail' category.url %}">{{ category.name }}<br></a></h3>
            <a href="#" class="cta-btn"> <i class="fa fa-4x fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- /shop -->
    </div>
  <!-- /container -->
  </div>
</div>
<!-- /SECTION -->

{% endblock content %}