{% extends 'potlucks/base.html' %}
{% block title %} Заказы: розница{% endblock title %}
{% load breadcrumbs static bootstrap4  %}

{% block navigation %}
<li><a href="{% url 'goods:home_page' %}">Home</a></li>
<li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
<li><a href="{% url 'goods:products' %}">Products</a></li>
<li><a href="{% url 'goods:categories' %}">Categories</a></li>
{% endblock navigation %}

{% block breadcrumbs %}

{% url 'goods:home_page' as home_page %}
{% breadcrumb_home home_page 'Home' %}

{% url 'user:user_part_orders' as orders %}
{% breadcrumb_active orders 'Мои складчины: подтвержденные' 2 %}

{% endblock breadcrumbs %}

{% block content %}

<div class="section">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="row col-lg-9 col-lg-offset-1 form-group" id="orders">
        <!-- product -->
        {% for order in orders %}

        <div class="row order-card">
          <div class="col-lg-1">
            <h3>{{ order.id }}</h3>
          </div>
          <div class="col-lg-4">
            <p>Город: {{ order.city }}</p>
            <p>Адрес: {{ order.post_index }}</p>
            <p>Создан: {{ order.created }}</p>
            <p>Примечания: {{ order.notes }}</p>
          </div>

          <div class="col-lg-4">

            <p>В заказе:</p>
            <div id="order-items-{{order.id}}">
              <p>Товар: {{ order.part.potluck.product }}</p>
              <p>Цена за ед.: {{ order.part.potluck.unit_price }}</p>
              <p>Товаров в доле: {{ order.part.goods_number }}</p>
              <p>Стоимость доли: {{ order.part.total_cost }}</p>
              <p>Всего за заказ:  {{ order.get_total_cost }} р</p>
            </div>
          </div>

          <div class="col-lg-3">
            <p>
            <a href="{% url 'potlucks:potluck_detail' order.part.potluck.id %}" >ПОДРОБНЕЕ</a>
            </p>
            <p>
            <a href="" class="js-open-modal" data-modal="{{order.part.id}}">ОТМЕНИТЬ</a>
            </p>


          </div>

        </div>
        {% endfor %}
      </div>
      <div class="store-filter clearfix">

        {% include "include/pagination.html" %}
      </div>

    </div>
  </div>
</div>
{% for order in orders %}
<div class="modal_p" data-modal="{{ order.part.id }}" id="{{ order.part.id }}">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <h3>Отменить заказ?</h3>
  <p>{{ order.part }}</p>
  <p><a class='cancel_order js-modal-close' href="{% url 'potlucks:cancel_part' order.part.id %}">ДА</a></p>
</div>
{% endfor %}

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/popup.js' %}"></script>

{% endblock javascript %}