{% load product_tag %}
<div id="aside" class="col-md-3">
    <!-- aside Widget -->
    <form  name="filter" action="{% url 'goods:products_filter' %}" method="get">
        {% if user.is_staff %}
        <div class="aside">

            <h3 class="aside-title">Отображение в каталоге</h3>

            <div class="checkbox-filter">
                <ul class="ul_checkbox_filter">

                    <li>
                        <div class="input-checkbox">
                            <input  type="checkbox" id="available"
                                    value="True" name="available" >
                            <label for="available">
                                <span></span>
                                Доступные
                                <small>(120)</small>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="input-checkbox">
                            <input  type="checkbox" id="unavailable"
                                    value="False" name="available" >
                            <label for="unavailable">
                                <span></span>
                                Недоступные
                                <small>(120)</small>
                            </label>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
        {% endif %}
        <div class="aside">

            <h3 class="aside-title">Категории</h3>

            <div class="checkbox-filter">
                <ul class="ul_checkbox_filter">
                    {% for category in view.get_categories %}
                    <li>
                        <div class="input-checkbox">
                            <input  type="checkbox" id="category-{{ category.id }}"
                                    value="{{ category.id }}" name="category" {% if category.id  in categories %} checked {% endif %}>
                            <label for="category-{{ category.id }}">
                                <span></span>
                                {{ category.name }}
                                <small>(120)</small>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <!-- /aside Widget -->



        <!-- /aside Widget -->
        <div class="aside">
            <h3 class="aside-title">Производитель</h3>
            <div class="checkbox-filter">
                <ul class="ul_checkbox_filter">
                    {% for manufacturer in view.get_manufacturers %}
                    <li>
                        <div class="input-checkbox">
                            <input  type="checkbox"
                                    id="manufacturer-{{ manufacturer.id }}"
                                    value="{{ manufacturer.id }}" name="manufacturer" {% if manufacturer.id in manufacturers %} checked {% endif %}>
                            <label for="manufacturer-{{ manufacturer.id }}">
                                <span></span>
                                {{ manufacturer.name }}
                                <small>(120)</small>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <button id="filter-btn" type="submit">Найти</button>
        </div>
    </form>
    <!-- aside Widget -->
    {% get_most_popular_products %}
    <!-- /aside Widget -->
</div>
<!-- /ASIDE -->
<!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">

                        <label>
                            Товаров на страницу:
                            <select class="input-select" name="show">
                                <option value="0">1</option>
                                <option value="1">2</option>
                            </select>
                        </label>
                    </div>

                </div>
                </form>
                <!-- /store top filter -->