{% extends 'potlucks/base.html' %}
{% block title %} О товаре "{{ product.name }}" {% endblock title %}
{% load breadcrumbs static  %}

{% block navigation %}
<li><a href="{% url 'goods:home_page' %}">Home</a></li>
<li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
<li  class="active"><a href="{% url 'goods:products' %}">Products</a></li>
<li><a href="{% url 'goods:categories' %}">Categories</a></li>
{% endblock navigation %}

{% block breadcrumbs %}

{% url 'goods:home_page' as home_page %}
{% breadcrumb_home home_page 'Home' %}

{% url 'goods:products' as product_list %}
{% breadcrumb_item product_list 'Products' 2 %}

{% ancestors_and_category product.category as categories %}
{% for category in categories %}
{% url 'goods:category_detail' category.url as category_detail %}
{% breadcrumb_item category_detail category.name forloop.counter|add:"2" %}
{% endfor %}

{% url 'goods:product_detail' product.id as product_detail %}
{% breadcrumb_active product_detail product.name product.category.ancestors_and_category.count|add:"2" %}

{% endblock breadcrumbs %}

{% block content %}



<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    {% if product.image %}
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    {% endif %}
                    {% if product.product_images %}
                    {% for image in product.product_images.all %}
                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    {% if product.image %}
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    {% endif %}

                    {% if product.product_images %}
                    {% for image in product.product_images.all %}

                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>

                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <div>
                        <div id="product-rating" class="product-rating">
                            {% for star in stars reversed %}
                            {% if star.value <= product.avg_rating %}
                            <i class="fa fa-star empty"></i>
                            {% else %}
                            <i class="fa fa-star-o empty"></i>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                    <p class="price">${{ product.price }}</p>

                    <form action="{% url 'cart:cart_add' product.id %}" method="post" id="join-form">
                        {% csrf_token %}
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number" id="input-number">
                                    <input type="number" name="quantity" value="1" min="1" required="" id="id_quantity">
                                    <input type="hidden" name="update" value="False" id="id_update">
                                    <input type="hidden" name="product-id" value="{{ product.id }}" >
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>

                                </div>

                            </div>
                            <button id="join" type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Добавить в корзину</button>

                        </div>
                    </form>
                    <div id="hhhh"></div>
                    <div id="to-product-tab">
                        <span>или принять участие в одном из <a  href="#tab3">заказов</a> при стоимости</span>
                        <h3 class="product-price">от {{ product.min_price }} до {{ product.max_price }} ₽/шт.</h3>
                    </div>
                    <p>{{ product.description }}</p>
                    <p>Производитель: <a href="{% url 'goods:manufacturer_detail' product.manufacturer.url %}">{{ product.manufacturer }}</a></p>



                    <ul class="product-links">
                        <li>Category:</li>
                        {% for category in categories %}
                        <li><a href="{% url 'goods:category_detail' category.url %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>



                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">

                <div id="product-tab">

                    <!-- product tab nav -->
                    <ul class="tab-nav">

                        <li><a href="#tab1">Description</a></li>
                        <li><a href="#tab2">Details</a></li>
                        <li><a  href="#tab3">Складчины</a></li>
                        <li><a  href="#tab4">Reviews (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div>
                        <!-- tab1  -->

                        <div class="row tabs" id="tab1">
                            <div class="col-md-12">
                                <p>{{ product.description }}</p>
                            </div>
                        </div>

                        <!-- /tab1  -->

                        <!-- tab2  -->

                        <div class="row tabs" id="tab2">
                            <div class="col-md-12">
                                {% for k, v in product.parameters.items %}
                                <p>{{ k }} : {{ v }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- /tab2  -->

                        <!-- tab3  -->

                        <div class="row tabs tab-pane fade in" id="tab3">
                            <div class="col-md-12">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Поставщик</th>
                                        <th>Организатор</th>
                                        <th>Цена за единицу</th>
                                        <th>Заполненность</th>
                                        <th>Дата начала</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for potluck in product.product_potlucks.all %}
                                    <tr>
                                        <td>{{ potluck.vendor }}</td>
                                        <td>{{ potluck.creator }}</td>
                                        <td>{{ potluck.unit_price }}</td>
                                        <td>{{ potluck.get_potluck_fullness }} / {{ potluck.size }}</td>
                                        <td>{{ potluck.date|date:"d M Y"  }}

                                        </td>
                                        <td class="detail-cell"><a href="{% url 'potlucks:potluck_detail' potluck.id %}" onclick="window.open({% url 'potlucks:potluck_detail' potluck.id %})">ПОДРОБНЕЕ</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!-- /tab3  -->

                        <!-- tab4  -->

                        {% include 'include/reviews.html' %}

                        <!-- /tab4  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#product-tab").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top - 125}, 800);
    });
    $("#to-product-tab").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top - 125}, 800);
    });
});
</script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/review_and_rate.js' %}"></script>
{% endblock javascript %}