{% extends 'potlucks/base.html' %}
{% block title %} О товаре "{{ product.name }}" {% endblock title %}

{% block content %}
<!-- NAVIGATION -->
<nav id="navigation" >
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->

        <div id="responsive-nav">
            <!-- NAV -->

            <ul class="main-nav nav navbar-nav  navig ">

                <li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
                <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
                <li ><a href="{% url 'potlucks:products' %}">Products</a></li>
                <li><a href="{% url 'potlucks:categories' %}">Categories</a></li>

            </ul>
            <!-- /NAV -->
        </div>

        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    {% for image in product.product_images.all %}
                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>


                    {% for image in product.product_images.all %}
                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">{{ product.min_price }} - {{ product.max_price }} ₽/шт</h3>

                    </div>
                    <p>{{ product.description }}</p>





                    <ul class="product-links">
                        <li>Category:</li>
                        {% for category in categories %}
                        <li><a href="{% url 'potlucks:category_detail' category.url %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>



                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">

                        <li><a href="#tab1">Description</a></li>
                        <li><a href="#tab2">Details</a></li>
                        <li><a  href="#tab3">Orders</a></li>
                        <li><a  href="#tab4">Reviews (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div>
                        <!-- tab1  -->

                            <div class="row tabs" id="tab1">
                                <div class="col-md-12">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>

                        <!-- /tab1  -->

                        <!-- tab2  -->

                            <div class="row tabs" id="tab2">
                                <div class="col-md-12">
                                    <p></p>
                                </div>
                            </div>

                        <!-- /tab2  -->

                        <!-- tab3  -->

                            <div class="row tabs" id="tab3">
                                <div class="col-md-12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Поставщик</th>
                                            <th>Организатор</th>
                                            <th>Цена за единицу</th>
                                            <th>Заполненность</th>
                                            <th>Дата начала</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in product.product_orders.all %}
                                        <tr>
                                            <td>{{ order.vendor }}</td>
                                            <td>{{ order.creator }}</td>
                                            <td>{{ order.unit_price }}</td>
                                            <td>{{ order.get_order_fullness }} / {{ order.size }}</td>
                                            <td>{{ order.date|date:"d M Y"  }}</td>
                                            <td class="detail-cell"><a href="{% url 'potlucks:order_detail' order.id %}">ПОДРОБНЕЕ</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        <!-- /tab3  -->

                        <!-- tab4  -->

                            <div class="row tabs" id="tab4">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>{{ avg_rating }}</span>
                                            <div class="rating-stars">
                                                {% for star in stars reversed %}
                                                        {% if star.value <= avg_rating %}
                                                        <i class="fa fa-star empty"></i>
                                                        {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                        {% endif %}
                                                        {% endfor %}
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">{{ fives }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">{{ fours }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ threes }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ twos }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ ones }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-9">
                                    <div id="reviews">
                                        <ul class="reviews">

                                            {% for customer_order in customer_orders %}
                                            {% if customer_order.review or customer_order.rating %}
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">{{ customer_order.customer.first_name }}</h5>
                                                    <p class="date">{{ customer_order.review.date }}</p>
                                                    <div class="review-rating">
                                                        {% for star in stars reversed %}
                                                        {% if star.value <= customer_order.get_rating %}
                                                        <i class="fa fa-star empty"></i>
                                                        {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>{{ customer_order.review.text }}</p>
                                                </div>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
<!--                                        <ul class="reviews-pagination">-->
<!--                                            <li class="active">1</li>-->
<!--                                            <li><a href="#">2</a></li>-->
<!--                                            <li><a href="#">3</a></li>-->
<!--                                            <li><a href="#">4</a></li>-->
<!--                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>-->
<!--                                        </ul>-->
                                    </div>
                                </div>
                                <!-- /Reviews -->


                                <!-- /Review Form -->
                            </div>

                        <!-- /tab4  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#product-tab").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top - 100}, 800);
    });
});
</script>
{% endblock javascript %}