{% extends 'potlucks/base.html' %}
{% block title %} Отложенные товары {% endblock title %}
{% load breadcrumbs %}

{% block breadcrumbs %}

  {% url 'goods:home_page' as home_page %}
  {% breadcrumb_home home_page 'Home' %}

  {% url 'goods:wishlist' user.id as wishlist %}
  {% breadcrumb_active wishlist 'Wishlist' 2 %}


{% endblock breadcrumbs %}
{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->




                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    {% for product in wishlist.products.all %}
                        <div class="col-md-3 col-xs-4">
                        {% include 'include/product_card.html' %}
                        </div>
                    {% endfor %}
                </div>
                    <!-- /product -->


                <!-- /store products -->

                <!-- store bottom filter -->

                <!-- /store bottom filter -->

            <!-- /STORE -->

        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}