{% extends 'potlucks/base.html' %}
{% block title %} О товаре "{{ product.name }}" {% endblock title %}
{% load breadcrumbs %}

{% block navigation %}
    <li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
    <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
    <li  class="active"><a href="{% url 'potlucks:products' %}">Products</a></li>
    <li><a href="{% url 'potlucks:categories' %}">Categories</a></li>
{% endblock navigation %}

{% block breadcrumbs %}

  {% url 'potlucks:home_page' as home_page %}
  {% breadcrumb_home home_page 'Home' %}

  {% url 'potlucks:products' as product_list %}
  {% breadcrumb_item product_list 'Products' 2 %}

  {% ancestors_and_category product.category as categories %}
  {% for category in categories %}
    {% url 'potlucks:category_detail' category.url as category_detail %}
    {% breadcrumb_item category_detail category.name forloop.counter|add:"2" %}
  {% endfor %}

  {% url 'potlucks:product_detail' product.id as product_detail %}
  {% breadcrumb_active product_detail product.name product.category.ancestors_and_category.count|add:"2" %}

{% endblock breadcrumbs %}

{% block content %}



<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    {% if product.image %}
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    {% endif %}
                    {% if product.product_images %}
                    {% for image in product.product_images.all %}
                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    {% if product.image %}
                    <div class="product-preview">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    {% endif %}

                    {% if product.product_images %}
                    {% for image in product.product_images.all %}

                    <div class="product-preview">
                        <img src="{{ image.image.url }}" alt="">
                    </div>

                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <div>
                        <div class="product-rating">
                            {% for star in stars reversed %}
                            {% if star.value <= product.avg_rating %}
                            <i class="fa fa-star empty"></i>
                            {% else %}
                            <i class="fa fa-star-o empty"></i>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" id="join-form">
                        {% csrf_token %}
                        <div class="add-to-cart">
                            <div class="qty-label">

                                <div class="input-number" id="input-number">
                                    <input type="number" name="quantity" id="id_quantity" value="1">
                                    {{ form.update }}
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>

                                </div>

                            </div>
                            <button id="join" type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Добавить в корзину</button>

                        </div>
                    </form>

                    <p>{{ product.description }}</p>





                    <ul class="product-links">
                        <li>Category:</li>
                        {% for category in categories %}
                        <li><a href="">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>



                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">

                <div id="product-tab">

                    <!-- product tab nav -->
                    <ul class="tab-nav">

                        <li><a href="#tab1">Description</a></li>
                        <li><a href="#tab2">Details</a></li>
                        <li><a  href="#tab3">Orders</a></li>
                        <li><a  href="#tab4">Reviews (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div>
                        <!-- tab1  -->

                            <div class="row tabs" id="tab1">
                                <div class="col-md-12">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>

                        <!-- /tab1  -->

                        <!-- tab2  -->


                        <!-- /tab2  -->

                        <!-- tab3  -->



                        <!-- /tab3  -->

                        <!-- tab4  -->

                            <div class="row tabs" id="tab4">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>{{ avg_rating }}</span>
                                            <div class="rating-stars">
                                                {% for star in stars reversed %}
                                                        {% if star.value <= avg_rating %}
                                                        <i class="fa fa-star empty"></i>
                                                        {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                        {% endif %}
                                                        {% endfor %}
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">{{ fives }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">{{ fours }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ threes }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ twos }}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">{{ ones }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                            </div>

                        <!-- /tab4  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#product-tab").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top - 100}, 800);
    });
});
</script>
{% endblock javascript %}