{% extends 'potlucks/base.html' %}
{% block title %} Заказы: складчины{% endblock title %}
{% load breadcrumbs static bootstrap4  %}

{% block navigation %}
<li><a href="{% url 'goods:home_page' %}">Home</a></li>
<li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
<li><a href="{% url 'goods:products' %}">Products</a></li>
<li><a href="{% url 'goods:categories' %}">Categories</a></li>
{% endblock navigation %}

{% block breadcrumbs %}

{% url 'goods:home_page' as home_page %}
{% breadcrumb_home home_page 'Home' %}

{% url 'potlucks:part_orders' as orders %}
{% breadcrumb_active orders 'Заказы: складчина' 2 %}

{% endblock breadcrumbs %}

{% block content %}

<div class="section">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        {% include 'potlucks/parts/part_orders_filter.html' %}
      </div>
      <div class="row col-lg-9 col-lg-offset-1 form-group" id="orders">
        <!-- product -->
        {% for order in orders %}

        <div class="row order-card">
          <div class="col-lg-1">
            <h1>{{ order.id }}</h1>
          </div>
          <div class="col-lg-5">
            <p>Заказчик: {{ order.last_name }} {{ order.first_name }} {{ order.patronymic }}</p>
            <p>Телефон: {{ order.phone_number }}</p>
            <p>Email: {{ order.email }}</p>
            <p>Город: {{ order.city }}</p>
            <p>Адрес: {{ order.post_index }}</p>
            <p>Создан: {{ order.created }}</p>
            <p>Примечания: {{ order.notes }}</p>
          </div>

          <div class="col-lg-5">

            <p>В заказе:</p>
            <div id="order-items-{{order.id}}">
              <p>Товар:  {{ order.part.product.name }} р</p>
              <p>Цена за ед.:  {{ order.part.potluck.unit_price }} р</p>
              <p>Количество:  {{ order.part.goods_number }} р</p>
              <p>Всего за заказ:  {{ order.part.total_cost }} р</p>
            </div>
          </div>
          <div class="col-lg-1">
            <label for="confirmed_switch-{{order.id}}">Подтвержден</label>
            <div
                    data-do="{% url 'ajax:confirm_order' 'potluck' order.id %}"
                    data-undo="{% url 'ajax:disconfirm_order' 'potluck' order.id  %}"
                    data-num="{{ order.id }}"
                    class="col-lg-1 switch-btn red {% if order.confirmed %} switch-on  {% endif %}"
                    id="confirmed_switch-{{order.id}}"
                    >


            </div>
            <label for="paid_switch-{{order.id}}">Оплачен</label>
            <div
                    data-do="{% url 'ajax:paid_order' 'potluck' order.id %}"
                    data-undo="{% url 'ajax:unpaid_order' 'potluck' order.id  %}"
                    data-num="{{ order.id }}"
                    class="col-lg-1 switch-btn green {% if order.paid %} switch-on {% endif %}"
                    id="paid_switch-{{order.id}}"
                    >


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="store-filter clearfix">
        <span class="store-qty" id="store-qty">Получено результатов:  </span>
        {% include "include/pagination.html" %}
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/confirm_switch.js' %}"></script>
<script src="{% static 'js/part_orders_filter.js' %}"></script>



{% endblock javascript %}