
    <span class="store-qty">Showing 20-100 products</span>
    <ul class="store-pagination">

        {% if page_obj.has_previous %}
            {% if page_obj.number|add:'-3' > 1 %}
                <li>
                    <a href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page=1">1</a>
                </li>
            {% endif %}
            {% if page_obj.number|add:'-3' >= 3 %}
                <li>
                    <a href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page={{ page_obj.previous_page_number|add:'-3' }}">
                        <span><b>. . .</b></span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if paginator.page_range|length > 1 %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active">
                        <a id="paginate_item_active">{{ i }}</a>
                    </li>
                {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                    <li>
                    <a href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page_obj.has_next %}
            {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
                <li>
                <a href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page={{ page_obj.next_page_number|add:'3' }}">
                    <span>...</span>
                </a>
            </li>
            {% endif %}
            {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <a class="pagination__link" href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page={{ page_obj.paginator.num_pages }}">
                    {{ page_obj.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
        {% endif %}
        {% if page_obj.paginator.num_pages > 2 and page_obj.number < page_obj.paginator.num_pages%}
        <li>
            <a href="?{{ q }}{{ category }}{{ vendor }}{{ manufacturer }}page={{page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
        </li>
        {% endif %}

    </ul>
