
<div class="product">
  <a href="{% url 'potlucks:product_detail' product.url %}">
    <div class="product-img">
      {% if product.image %}
      <img src="{{ product.image.url }}" href="{% url 'potlucks:product_detail' product.url %}" alt="" >
      {% endif %}
      <div class="product-label">
        {# <span class="sale">От {{ product.min_price }} р/шт</span> #}
        <span class="new">От {{ product.min_price }} р/шт</span>

      </div>
    </div>
  </a>
  <div class="product-body">
    <p class="product-category">{{ product.category.name }}</p>
    <h3 class="product-name"><a href="{% url 'potlucks:product_detail' product.url %}">{{ product.name }}</a></h3>
    <h4 class="product-price">{{ product.product_orders.all.count }} заказов</h4>
    <div class="product-rating">
      {% for star in stars reversed %}
      {% if star.value <= avg_rating %}
      <i class="fa fa-star empty"></i>
      {% else %}
      <i class="fa fa-star-o empty"></i>
      {% endif %}
      {% endfor %}
    </div>
    <div class="product-btns">

      <button>
        <i
                data-del="{% url 'ajax:delete_product_from_wishlist' product.id %}"
                data-add="{% url 'ajax:add_product_to_wishlist' product.id %}"
                {% if product in user.profile.wishlist.products.all %}
                class="fa fa-heart add-to-wishlist"
                {% else %}
                class="fa fa-heart-o add-to-wishlist"
                {% endif %}
                id="{{product.id}}">

        </i><span class="tooltipp">Отложить</span></button>



    </div>
  </div>
  <div class="add-to-cart">

    <a href="{% url 'potlucks:product_detail' product.url %}#tab2"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Заказы</button>

  </div>

</div>
