{% extends 'potlucks/base.html %}

{% block title %} Заказ {{ customer_order }} {% endblock title %}

{% block content %}
<!-- NAVIGATION -->
		<nav id="navigation" >
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->

				    <div id="responsive-nav">
					<!-- NAV -->

					    <ul class="main-nav nav navbar-nav  navig ">

						    <li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
                            <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
						    <li ><a href="{% url 'potlucks:products' %}">Products</a></li>
						    <li><a href="{% url 'potlucks:categories' %}">Categories</a></li>

					    </ul>
					<!-- /NAV -->
                    </div>

				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

