{% extends 'potlucks/base.html' %}
{% block title %} Заказы {% endblock title %}
{% load breadcrumbs %}
{% block navigation %}


<li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
<li  class="active"><a href="{% url 'potlucks:orders' %}">Orders</a></li>
<li><a href="{% url 'potlucks:products' %}">Products</a></li>
<li><a href="{% url 'potlucks:categories' %}">Categories</a></li>

{% endblock navigation %}
{% block breadcrumbs %}

  {% url 'potlucks:home_page' as home_page %}
  {% breadcrumb_home home_page 'Home' %}

  {% url 'potlucks:orders' as orders %}
  {% breadcrumb_active orders 'Orders' 2 %}


{% endblock breadcrumbs %}
{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            {% include 'potlucks/orders/orders_filter.html' %}

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    {% for order in order_list %}
                    {% include 'include/order_card.html' %}
                    {% endfor %}
                </div>
                    <!-- /product -->


                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    {% include "include/pagination.html" %}
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}