{% extends 'potlucks/base.html' %}
{% load bootstrap4 static %}
{% block title %} Изменение пароля {% endblock title %}

{% block content %}
<nav id="navigation" >
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->

        <div id="responsive-nav">
            <!-- NAV -->

            <ul class="main-nav nav navbar-nav  navig ">

                <li><a href="{% url 'goods:home_page' %}">Home</a></li>
                <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
                <li ><a href="{% url 'goods:products' %}">Products</a></li>
                <li><a href="{% url 'goods:categories' %}">Categories</a></li>

            </ul>
            <!-- /NAV -->
        </div>

        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<div class="section">
    <div class="container">
        <div class="row mt-4">

                <form  action="{% url 'users:change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <h4 class="text-center">Рекомендации</h4>
                            <p>Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
                            <p>Ваш пароль должен содержать как минимум 8 символов.</p>
                            <p>Пароль не должен быть слишком простым и распространенным.</p>
                            <p>Пароль не может состоять только из цифр.</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="text-center">Изменить пароль</h4>
                            {% bootstrap_form form %}
                        </div>

                    </div>
                    <div class="row">
                        <button type="submit" class="save-btn col-xs-offset-5 col-sm-offset-5 col-lg-offset-5 col-lg-2 col-xs-3 col-sm-3 ">Сохранить</button>
                    </div>
                </form>

        </div>
    </div>
</div>
{% endblock content %}