{% extends 'potlucks/base.html' %}
{% load bootstrap4 static breadcrumbs %}
{% block title %} Изменение пароля {% endblock title %}

{% block navigation %}


<li><a href="{% url 'goods:home_page' %}">Главная</a></li>
<li><a href="{% url 'goods:products' %}">Товары</a></li>
<li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
<li><a href="{% url 'goods:categories' %}">Категории</a></li>

{% endblock navigation %}
{% block breadcrumbs %}

  {% url 'goods:home_page' as home_page %}
  {% breadcrumb_home home_page 'Главная' %}

  {% breadcrumb_active placeholder 'Изменение пароля' 2 %}


{% endblock breadcrumbs %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="row mt-4">

                <form  action="{% url 'users:change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <h4 class="text-center">Рекомендации</h4>
                            <p>Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
                            <p>Ваш пароль должен содержать как минимум 8 символов.</p>
                            <p>Пароль не должен быть слишком простым и распространенным.</p>
                            <p>Пароль не может состоять только из цифр.</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="text-center">Изменить пароль</h4>
                            {% bootstrap_form form %}
                        </div>

                    </div>
                    <div class="row">
                        <button type="submit" class="save-btn col-xs-offset-5 col-sm-offset-5 col-lg-offset-5 col-lg-2 col-xs-3 col-sm-3 ">Сохранить</button>
                    </div>
                </form>

        </div>
    </div>
</div>
{% endblock content %}