<div class="row">
  <div class="col-md-12">
    <div id="product-tab">
      <!-- product tab nav -->
      <ul class="tab-nav">
        <li class="active"><a data-toggle="tab" href="#tab1">Действующие складчины</a></li>
        <li><a data-toggle="tab" href="#tab2">Заполненные складчины</a></li>
        <li><a data-toggle="tab" href="#tab3">Подтвержденные доли складчины</a></li>

      </ul>
      <!-- /product tab nav -->

      <!-- product tab content -->
      <div class="tab-content">
        <!-- tab1  -->
        <div id="tab1" class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-12">
              {% if not parts_active %}
              <h2>
                Нет активных заказов
              </h2>
              {% else %}
              <table>
                <thead>
                <tr>

                  <th>Продукт</th>
                  <th>Поставщик</th>
                  <th>Организатор</th>
                  <th>Цена за единицу</th>
                  <th>Доля в заказе</th>
                  <th>Сумма</th>
                  <th>Заполненность</th>
                  <th>Дата присоединения</th>
                  <th>Дата начала</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts_active %}
                <tr>
                  <td> {% if part.potluck.product.image %}
                    <img src="{{ part.potluck.product.image.url }}"  class="product-mini-img"/>
                    {% endif %}
                    <p><a href="{% url 'goods:product_detail' part.potluck.product.url %}">
                      {{ part.potluck.product.name }}
                    </a></p>
                  </td>
                  <td>{{ part.potluck.vendor }}</td>
                  <td>{{ part.potluck.creator }}</td>
                  <td>{{ part.potluck.unit_price }} р</td>
                  <td>{{ part.goods_number  }}</td>
                  <td>{{  part.total_cost }} р</td>
                  <td>{{ part.potluck.get_potluck_fullness }} / {{ part.potluck.potluck.size }}</td>
                  <td>{{ part.created|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date|date:"d M Y"  }}</td>
                  <td class="detail-cell"><a href="{% url 'potlucks:potluck_detail' part.potluck.id %}">ПОДРОБНЕЕ</a></td>
                  <td class="detail-cell"><a href="" class="js-open-modal" data-modal="{{part.id}}">ОТМЕНИТЬ</a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- /tab1  -->

        <!-- tab2  -->
        <div id="tab2" class="tab-pane fade in">
          <div class="row">
            <div class="col-md-12">
              {% if not parts_amassed %}
              <h2>
                Нет заполненных заказов
              </h2>
              {% else %}
              <table>
                <thead>
                <tr>

                  <th>Продукт</th>
                  <th>Поставщик</th>
                  <th>Организатор</th>
                  <th>Цена за единицу</th>
                  <th>Доля в заказе</th>
                  <th>Сумма</th>
                  <th>Дата присоединения</th>
                  <th>Дата начала</th>
                  <th>Дата заполнения</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts_amassed %}
                <tr>
                  <td>
                    {% if part.potluck.product.image %}
                    <img src="{{ part.potluck.product.image.url }}"  class="product-mini-img"/>
                    {% endif %}
                    <a href="{% url 'goods:product_detail' part.potluck.product.url %}" >
                      <p>{{ part.potluck.product.name }}</p>
                    </a>

                  <td>
                    {{ part.potluck.vendor }} </td>
                  <td>{{ part.potluck.creator }}</td>
                  <td>{{ part.potluck.unit_price }} р</td>
                  <td>{{ part.goods_number  }}</td>
                  <td>{{  part.total_cost }} р</td>
                  <td>{{ part.created|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date_amass|date:"d M Y"  }}</td>
                  <td class="detail-cell"><a href="{% url 'potlucks:potluck_detail' part.potluck.id %}" >ПОДРОБНЕЕ</a></td>
                  <td class="detail-cell"><a href="{% url 'potlucks:part_checkout' part.id %}">ПОДТВЕРДИТЬ</a></td>
                  <td class="detail-cell"><a href="" class="js-open-modal" data-modal="{{part.id}}">ОТМЕНИТЬ</a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- /tab2  -->

        <!-- tab3  -->
        <div id="tab3" class="tab-pane fade in">
          <div class="row">
            <div class="col-md-12">
              {% if not parts_confirmed %}
              <h2>
                Вы не подтвердили ни одного участия в складчине.
              </h2>
              {% else %}
              <table>
                <thead>
                <tr>

                  <th>Продукт</th>
                  <th>Поставщик</th>
                  <th>Организатор</th>
                  <th>Цена за единицу</th>
                  <th>Сумма</th>
                  <th>Дата присоединения</th>
                  <th>Дата начала</th>
                  <th>Дата заполнения</th>
                  <th>Дата завершения</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts_confirmed %}
                <tr>
                  <td><img src="{{ part.potluck.product.image.url }}"  class="product-mini-img"/>
                    <a href="{% url 'goods:product_detail' part.potluck.product.url %}">
                      <p>{{ part.potluck.product.name }}</p>
                    </a>
                  </td>
                  <td>
                    {{ part.potluck.vendor }} </td>
                  <td>{{ part.potluck.creator }}</td>
                  <td>{{ part.potluck.unit_price }} р</td>
                  <td>{{  part.total_cost }} р</td>
                  <td>{{ part.created|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date_amass|date:"d M Y"  }}</td>
                  <td>{{ part.potluck.date_send|date:"d M Y"  }}</td>
                  <td class="detail-cell"><a href="{% url 'goods:product_detail' part.potluck.product.url %}">ПОДРОБНЕЕ</a></td>

                </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- /tab3  -->


        <!-- /tab4  -->
      </div>
      <!-- /product tab content  -->
    </div>
  </div>
</div>
</div>
<!-- PopUp активных заказов -->


</div>
<!-- /PopUp активных заказов -->
{% for part in parts_active %}
<div class="modal_p" data-modal="{{ part.id }}" id="{{ part.id }}">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <h3>Отменить заказ?</h3>
  <p>{{ part }}</p>
  <p><a class='cancel_order js-modal-close' href="{% url 'potlucks:cancel_part' part.id %}">ДА</a></p>
</div>
{% endfor %}

{% for part in parts_amassed %}
<div class="modal_p" data-modal="{{ part.id }}" id="{{ part.id }}">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <h3>Отменить заказ?</h3>
  <p>{{ part }}</p>
  <p><a class='cancel_order js-modal-close' href="{% url 'potlucks:cancel_part' part.id %}">ДА</a></p>
</div>
{% endfor %}



<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
<!-- /PopUp активных заказов -->