{% extends 'potlucks/base.html' %}
{% load bootstrap4 static %}
{% block title %} Личный кабинет {% endblock title %}

{% block content %}
<nav id="navigation" >
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->

        <div id="responsive-nav">
            <!-- NAV -->

            <ul class="main-nav nav navbar-nav  navig ">

                <li><a href="{% url 'potlucks:home_page' %}">Home</a></li>
                <li><a href="{% url 'potlucks:orders' %}">Orders</a></li>
                <li ><a href="{% url 'potlucks:products' %}">Products</a></li>
                <li><a href="{% url 'potlucks:categories' %}">Categories</a></li>

            </ul>
            <!-- /NAV -->
        </div>

        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<div class="section">
    <div class="container">
        <div class="row mt-4">
            <div  class="col-lg-4 col-lg-offset-4">
                <form action="{% url 'users:profile_detail' profile.id %}">
                    {% csrf_token %}
                    {% bootstrap_field form.phone_number %}
                    {% bootstrap_field form.post_index %}
                    <h4>Ссылки на соцсети</h4>
                    <p>!Заполненные поля будут использоваться для оповещения о наполнении заказа.</p>
                    {% bootstrap_field form.vk %}
                    {% bootstrap_field form.telegram %}
                    {% bootstrap_field form.instagram %}
                    <div class="row">
                        <button type="submit" class="save-btn col-xs-offset-5 col-sm-offset-5 col-lg-offset-4 col-lg-4 col-xs-3 col-sm-3 ">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Product tab -->

        <div class="row">
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Действующие заказы</a></li>
                        <li><a data-toggle="tab" href="#tab2">Заполненные заказы</a></li>
                        <li><a data-toggle="tab" href="#tab4">Отзывы</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if not customer_orders_active %}
                                    <h2>
                                        Нет активных заказов
                                    </h2>
                                    {% else %}
                                    <table>
                                        <thead>
                                        <tr>

                                            <th>Продукт</th>
                                            <th>Поставщик</th>
                                            <th>Организатор</th>
                                            <th>Цена за единицу</th>
                                            <th>Доля в заказе</th>
                                            <th>Сумма</th>
                                            <th>Заполненность</th>
                                            <th>Дата присоединения</th>
                                            <th>Дата начала</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for customer_order in customer_orders_active %}
                                        <tr>
                                            <td><img src="{{ customer_order.order.product.image.url }}"  class="product-mini-img"/>
                                                <p><a href="{% url 'potlucks:product_detail' customer_order.order.product.url %}">
                                                    {{ customer_order.order.product.name }}
                                                </a></p>
                                            </td>
                                            <td>{{ customer_order.order.vendor }}</td>
                                            <td>{{ customer_order.order.creator }}</td>
                                            <td>{{ customer_order.order.unit_price }} р</td>
                                            <td>{{ customer_order.goods_number  }}</td>
                                            <td>{{  customer_order.total_cost }} р</td>
                                            <td>{{ customer_order.order.get_order_fullness }} / {{ customer_order.order.size }}</td>
                                            <td>{{ customer_order.date|date:"d M Y"  }}</td>
                                            <td>{{ customer_order.order.date|date:"d M Y"  }}</td>
                                            <td class="detail-cell"><a href="{% url 'potlucks:order_detail' customer_order.order.id %}">ПОДРОБНЕЕ</a></td>
                                            <td class="detail-cell"><a href="" class="js-open-modal" data-modal="{{customer_order.id}}">ОТМЕНИТЬ</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if not customer_orders_amassed %}
                                    <h2>
                                        Нет завершенных заказов
                                    </h2>
                                    {% else %}
                                    <table>
                                        <thead>
                                        <tr>

                                            <th>Продукт</th>
                                            <th>Поставщик</th>
                                            <th>Организатор</th>
                                            <th>Цена за единицу</th>
                                            <th>Доля в заказе</th>
                                            <th>Сумма</th>
                                            <th>Дата присоединения</th>
                                            <th>Дата начала</th>
                                            <th>Дата заполнения</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for customer_order in customer_orders_amassed %}
                                        <tr>
                                            <td><img src="{{ customer_order.order.product.image.url }}"  class="product-mini-img"/>
                                                <a href="{% url 'potlucks:product_detail' customer_order.order.product.url %}">
                                                    <p>{{ customer_order.order.product.name }}</p>
                                                </a>
                                            </td>
                                            <td>
                                                {{ customer_order.order.vendor }} </td>
                                            <td>{{ customer_order.order.creator }}</td>
                                            <td>{{ customer_order.order.unit_price }} р</td>
                                            <td>{{ customer_order.goods_number  }}</td>
                                            <td>{{  customer_order.total_cost }} р</td>
                                            <td>{{ customer_order.date|date:"d M Y"  }}</td>
                                            <td>{{ customer_order.order.date|date:"d M Y"  }}</td>
                                            <td>{{ customer_order.order.date_amass|date:"d M Y"  }}</td>
                                            <td class="detail-cell"><a href="{% url 'potlucks:order_detail' customer_order.order.id %}">ПОДРОБНЕЕ</a></td>
                                            <td class="detail-cell"><a href="" class="js-open-modal" data-modal="{{customer_order.id}}">ОТМЕНИТЬ</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                        <!-- /tab3  -->

                        <!-- tab4  -->
                        <div id="tab4" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>4.5</span>
                                            <div class="rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <input class="input" type="text" placeholder="Your Name">
                                            <input class="input" type="email" placeholder="Your Email">
                                            <textarea class="input" placeholder="Your Review"></textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab4  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
        </div>
    </div>
    <!-- PopUp активных заказов -->


</div>
<!-- /PopUp активных заказов -->
{% for customer_order in customer_orders_active %}
<div class="modal_p" data-modal="{{ customer_order.id }}" id="{{ customer_order.id }}">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <h3>Отменить заказ?</h3>
    <p>{{ customer_order }}</p>
    <p><a class='cancel_order js-modal-close' href="{% url 'potlucks:cancel_customer_order' customer_order.id %}">ДА</a></p>
</div>
{% endfor %}

{% for customer_order in customer_orders_amassed %}
<div class="modal_p" data-modal="{{ customer_order.id }}" id="{{ customer_order.id }}">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <h3>Отменить заказ?</h3>
    <p>{{ customer_order }}</p>
    <p><a class='cancel_order js-modal-close' href="{% url 'potlucks:cancel_customer_order' customer_order.id %}">ДА</a></p>
</div>
{% endfor %}

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
<!-- /PopUp активных заказов -->


{% endblock content %}




{% block javascript %}
<script src="{% static 'js/popup.js' %}"></script>



{% endblock javascript %}

