{% extends 'potlucks/base.html' %}
{% block title %} {{ manufacturer.name }} {% endblock title %}
{% load breadcrumbs spurl %}

{% block navigation %}
<li><a href="{% url 'goods:home_page' %}">Главная</a></li>
<li><a href="{% url 'goods:products' %}">Товары</a></li>
<li><a href="{% url 'potlucks:potlucks' %}">Складчины</a></li>
<li><a href="{% url 'goods:categories' %}">Категории</a></li>
{% endblock navigation %}


{% block breadcrumbs %}

{% url 'goods:home_page' as home_page %}
{% breadcrumb_home home_page 'Home' %}

{% url 'goods:manufacturer_detail' manufacturer.id as manufacturer_detail %}
{% breadcrumb_active manufacturer_detail  manufacturer.name 2 %}


{% endblock breadcrumbs %}
{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->




        <!-- store products -->
        <div class="row">
            <!-- product -->

            <div class="col-md-3 col-xs-4 col-lg-4 col-lg-offset-3">
                <p>Наименование: {{ manufacturer.name }}</p>
                <p>Описание: {{ manufacturer.description }}</p>
                {% url 'goods:products_filter' as base_url %}
                <p><a href="{% spurl base=base_url add_query='manufacturer={{manufacturer.id}}' %}">Товары производителя</a></p>
                {% if user.is_staff %}
                <p><a href="{% url 'goods:edit_manufacturer' manufacturer.id %}">Редактировать</a></p>
                {% endif %}
            </div>
            {% if manufacturer.image %}

            <div class="col-md-3 col-xs-4 col-lg-4">
                <p>Логотип:<img src="{{ manufacturer.image.url }}" class="product-list-img" alt=""></p>
            </div>
            {% endif %}



        </div>
        <!-- /product -->


        <!-- /store products -->

        <!-- store bottom filter -->

        <!-- /store bottom filter -->

        <!-- /STORE -->

        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}